@font-face {
  font-family: 'eonline';
  src:  url('fonts/eonline.eot?sii5aq');
  src:  url('fonts/eonline.eot?sii5aq#iefix') format('embedded-opentype'),
    url('fonts/eonline.ttf?sii5aq') format('truetype'),
    url('fonts/eonline.woff?sii5aq') format('woff'),
    url('fonts/eonline.svg?sii5aq#eonline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="eof_"], [class*=" eof_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eonline' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eof_add:before {
  content: "\e000";
}
.eof_add_filled_circled:before {
  content: "\e001";
}
.eof_add_order_filled:before {
  content: "\e002";
}
.eof_add_user_male:before {
  content: "\e003";
}
.eof_add_user_male_filled:before {
  content: "\e004";
}
.eof_air_element:before {
  content: "\e005";
}
.eof_air_element_bold:before {
  content: "\e006";
}
.eof_alphabetical_sort:before {
  content: "\e007";
}
.eof_alphabetical_sort-bold:before {
  content: "\e008";
}
.eof_barcode:before {
  content: "\e009";
}
.eof_barcode_filled:before {
  content: "\e00a";
}
.eof_camera:before {
  content: "\e00b";
}
.eof_camera_filled:before {
  content: "\e00c";
}
.eof_camera_slashed_filled:before {
  content: "\e00d";
}
.eof_car:before {
  content: "\e00e";
}
.eof_car_filled:before {
  content: "\e00f";
}
.eof_change_user:before {
  content: "\e010";
}
.eof_change_user_filled:before {
  content: "\e011";
}
.eof_checked:before {
  content: "\e012";
}
.eof_checked_filled:before {
  content: "\e013";
}
.eof_checked_filled_circled:before {
  content: "\e014";
}
.eof_checkmark:before {
  content: "\e015";
}
.eof_checkmark_bold:before {
  content: "\e016";
}
.eof_clear_filter:before {
  content: "\e017";
}
.eof_clear_filter_filled:before {
  content: "\e018";
}
.eof_clock:before {
  content: "\e019";
}
.eof_clock_filled:before {
  content: "\e01a";
}
.eof_cloud_checked_filled:before {
  content: "\e01b";
}
.eof_cloud_filled:before {
  content: "\e01c";
}
.eof_coleta:before {
  content: "\e01d";
}
.eof_combo_chart:before {
  content: "\e01e";
}
.eof_combo_chart_filled:before {
  content: "\e01f";
}
.eof_connected:before {
  content: "\e020";
}
.eof_connected_filled:before {
  content: "\e021";
}
.eof_counter:before {
  content: "\e022";
}
.eof_counter_filled:before {
  content: "\e023";
}
.eof_counter_slashed_filled:before {
  content: "\e024";
}
.eof_delete_bin:before {
  content: "\e025";
}
.eof_delete_bin_filled:before {
  content: "\e026";
}
.eof_delete_user_male:before {
  content: "\e027";
}
.eof_delete_user_male_filled:before {
  content: "\e028";
}
.eof_delete_x:before {
  content: "\e029";
}
.eof_delete_x_filled:before {
  content: "\e02a";
}
.eof_delete_x_filled_circled:before {
  content: "\e02b";
}
.eof_descending_sort:before {
  content: "\e02c";
}
.eof_descending_sort_filled:before {
  content: "\e02d";
}
.eof_disconnected:before {
  content: "\e02e";
}
.eof_disconnected_filled:before {
  content: "\e02f";
}
.eof_doubletick:before {
  content: "\e030";
}
.eof_doubletick_bold:before {
  content: "\e031";
}
.eof_edit:before {
  content: "\e032";
}
.eof_edit_filled:before {
  content: "\e033";
}
.eof_entrega:before {
  content: "\e034";
}
.eof_eoico:before {
  content: "\e035";
}
.eof_eoico_border:before {
  content: "\e036";
}
.eof_eoico_border_circled:before {
  content: "\e037";
}
.eof_eoico_circled:before {
  content: "\e038";
}
.eof_exclamation:before {
  content: "\e039";
}
.eof_exclamation_circled:before {
  content: "\e03a";
}
.eof_exclamation_filled_circled:before {
  content: "\e03b";
}
.eof_exclamation_triangle:before {
  content: "\e03c";
}
.eof_exclamation_triangle_filled:before {
  content: "\e03d";
}
.eof_exclamation_triangle_filled_circled:before {
  content: "\e03e";
}
.eof_filter:before {
  content: "\e03f";
}
.eof_filter_filled:before {
  content: "\e040";
}
.eof_gold_bar:before {
  content: "\e041";
}
.eof_gold_bar_filled:before {
  content: "\e042";
}
.eof_help:before {
  content: "\e043";
}
.eof_help_filled:before {
  content: "\e044";
}
.eof_help_filled_circled:before {
  content: "\e045";
}
.eof_letter_checked:before {
  content: "\e046";
}
.eof_letter_checked_filled:before {
  content: "\e047";
}
.eof_letter_closed:before {
  content: "\e048";
}
.eof_letter_closed_filled:before {
  content: "\e049";
}
.eof_letter_dots:before {
  content: "\e04a";
}
.eof_letter_dots_filled:before {
  content: "\e04b";
}
.eof_letter_error:before {
  content: "\e04c";
}
.eof_letter_error_filled:before {
  content: "\e04d";
}
.eof_letter_exclamation:before {
  content: "\e04e";
}
.eof_letter_exclamation_filled:before {
  content: "\e04f";
}
.eof_letter_opened:before {
  content: "\e050";
}
.eof_letter_opened_filled:before {
  content: "\e051";
}
.eof_letter_plus:before {
  content: "\e052";
}
.eof_letter_plus_filled:before {
  content: "\e053";
}
.eof_letter_send:before {
  content: "\e054";
}
.eof_letter_send_filled:before {
  content: "\e055";
}
.eof_location_world:before {
  content: "\e056";
}
.eof_location_world_filled:before {
  content: "\e057";
}
.eof_login_as_user_filled:before {
  content: "\e058";
}
.eof_map_marker_filled:before {
  content: "\e059";
}
.eof_marker_off:before {
  content: "\e05a";
}
.eof_marker_off_filled:before {
  content: "\e05b";
}
.eof_microphone_filled:before {
  content: "\e05c";
}
.eof_microphone_slashed_filled:before {
  content: "\e05d";
}
.eof_money_bag:before {
  content: "\e05e";
}
.eof_money_bag_filled:before {
  content: "\e05f";
}
.eof_motorcycle_filled:before {
  content: "\e060";
}
.eof_motorcycle_filled_circled:before {
  content: "\e061";
}
.eof_positive_account:before {
  content: "\e062";
}
.eof_positive_account_filled:before {
  content: "\e063";
}
.eof_private_cloud_storage:before {
  content: "\e064";
}
.eof_private_cloud_storage_filled:before {
  content: "\e065";
}
.eof_remove_order:before {
  content: "\e066";
}
.eof_remove_user_male:before {
  content: "\e067";
}
.eof_remove_user_male_filled:before {
  content: "\e068";
}
.eof_retorno:before {
  content: "\e069";
}
.eof_safe:before {
  content: "\e06a";
}
.eof_safe_filled:before {
  content: "\e06b";
}
.eof_sand_end:before {
  content: "\e06c";
}
.eof_sand_end_filled:before {
  content: "\e06d";
}
.eof_sand_start:before {
  content: "\e06e";
}
.eof_sand_start_filled:before {
  content: "\e06f";
}
.eof_save_as:before {
  content: "\e070";
}
.eof_save_as_filled:before {
  content: "\e071";
}
.eof_schedule:before {
  content: "\e072";
}
.eof_schedule_filled:before {
  content: "\e073";
}
.eof_servico:before {
  content: "\e074";
}
.eof_sign_up:before {
  content: "\e075";
}
.eof_sign_up_filled:before {
  content: "\e076";
}
.eof_sign_up_slashed_filled:before {
  content: "\e077";
}
.eof_speedometer:before {
  content: "\e078";
}
.eof_speedometer_filled:before {
  content: "\e079";
}
.eof_sync:before {
  content: "\e07a";
}
.eof_sync_filled:before {
  content: "\e07b";
}
.eof_time_span:before {
  content: "\e07c";
}
.eof_time_span_filled:before {
  content: "\e07d";
}
.eof_timer:before {
  content: "\e07e";
}
.eof_timer_filled:before {
  content: "\e07f";
}
.eof_timer_pause_filled:before {
  content: "\e080";
}
.eof_timer_play_filled:before {
  content: "\e081";
}
.eof_timer_play_slashed_filled:before {
  content: "\e082";
}
.eof_toggle_on:before {
  content: "\e083";
}
.eof_toggle_on_filled:before {
  content: "\e084";
}
.eof_track_order:before {
  content: "\e085";
}
.eof_track_order_filled:before {
  content: "\e086";
}
.eof_upload_circled:before {
  content: "\e087";
}
.eof_upload_cloud:before {
  content: "\e088";
}
.eof_upload_cloud_filled:before {
  content: "\e089";
}
.eof_upload_filled:before {
  content: "\e08a";
}
.eof_upload_filled_circled:before {
  content: "\e08b";
}
.eof_user_location_pin:before {
  content: "\e08c";
}
.eof_user_location_pin_filled:before {
  content: "\e08d";
}
.eof_user_male_circled:before {
  content: "\e08e";
}
.eof_user_male_filled_circled:before {
  content: "\e08f";
}
.eof_user_online:before {
  content: "\e090";
}
.eof_user_online_filled:before {
  content: "\e091";
}
.eof_waypoint_map:before {
  content: "\e092";
}
.eof_waypoint_map_filled:before {
  content: "\e093";
}
.eof_save_to_gallery:before {
  content: "\e094";
}
.eof_save_to_gallery_filled:before {
  content: "\e095";
}
.eof_outgoing_call_filled:before {
  content: "\e096";
}
