@font-face {
  font-family: 'eonline';
  src:  url('fonts/eonline.eot?uks2lq');
  src:  url('fonts/eonline.eot?uks2lq#iefix') format('embedded-opentype'),
    url('fonts/eonline.ttf?uks2lq') format('truetype'),
    url('fonts/eonline.woff?uks2lq') format('woff'),
    url('fonts/eonline.svg?uks2lq#eonline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="eo_"], [class*=" eo_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eonline' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eo_add:before {
  content: "\e000";
}
.eo_add_filled_circled:before {
  content: "\e001";
}
.eo_add_order_filled:before {
  content: "\e002";
}
.eo_add_user_male:before {
  content: "\e003";
}
.eo_add_user_male_filled:before {
  content: "\e004";
}
.eo_air_element:before {
  content: "\e005";
}
.eo_air_element_bold:before {
  content: "\e006";
}
.eo_alphabetical_sort:before {
  content: "\e007";
}
.eo_alphabetical_sort-bold:before {
  content: "\e008";
}
.eo_barcode:before {
  content: "\e009";
}
.eo_barcode_filled:before {
  content: "\e00a";
}
.eo_camera:before {
  content: "\e00b";
}
.eo_camera_filled:before {
  content: "\e00c";
}
.eo_camera_slashed_filled:before {
  content: "\e00d";
}
.eo_car:before {
  content: "\e00e";
}
.eo_car_filled:before {
  content: "\e00f";
}
.eo_change_user:before {
  content: "\e010";
}
.eo_change_user_filled:before {
  content: "\e011";
}
.eo_checked:before {
  content: "\e012";
}
.eo_checked_filled:before {
  content: "\e013";
}
.eo_checked_filled_circled:before {
  content: "\e014";
}
.eo_checkmark:before {
  content: "\e015";
}
.eo_checkmark_bold:before {
  content: "\e016";
}
.eo_clear_filter:before {
  content: "\e017";
}
.eo_clear_filter_filled:before {
  content: "\e018";
}
.eo_clock:before {
  content: "\e019";
}
.eo_clock_filled:before {
  content: "\e01a";
}
.eo_cloud_checked_filled:before {
  content: "\e01b";
}
.eo_cloud_filled:before {
  content: "\e01c";
}
.eo_coleta:before {
  content: "\e01d";
}
.eo_combo_chart:before {
  content: "\e01e";
}
.eo_combo_chart_filled:before {
  content: "\e01f";
}
.eo_connected:before {
  content: "\e020";
}
.eo_connected_filled:before {
  content: "\e021";
}
.eo_counter:before {
  content: "\e022";
}
.eo_counter_filled:before {
  content: "\e023";
}
.eo_counter_slashed_filled:before {
  content: "\e024";
}
.eo_delete_bin:before {
  content: "\e025";
}
.eo_delete_bin_filled:before {
  content: "\e026";
}
.eo_delete_user_male:before {
  content: "\e027";
}
.eo_delete_user_male_filled:before {
  content: "\e028";
}
.eo_delete_x:before {
  content: "\e029";
}
.eo_delete_x_filled:before {
  content: "\e02a";
}
.eo_delete_x_filled_circled:before {
  content: "\e02b";
}
.eo_descending_sort:before {
  content: "\e02c";
}
.eo_descending_sort_filled:before {
  content: "\e02d";
}
.eo_disconnected:before {
  content: "\e02e";
}
.eo_disconnected_filled:before {
  content: "\e02f";
}
.eo_doubletick:before {
  content: "\e030";
}
.eo_doubletick_bold:before {
  content: "\e031";
}
.eo_edit:before {
  content: "\e032";
}
.eo_edit_filled:before {
  content: "\e033";
}
.eo_entrega:before {
  content: "\e034";
}
.eo_eoico:before {
  content: "\e035";
}
.eo_eoico_border:before {
  content: "\e036";
}
.eo_eoico_border_circled:before {
  content: "\e037";
}
.eo_eoico_circled:before {
  content: "\e038";
}
.eo_exclamation:before {
  content: "\e039";
}
.eo_exclamation_circled:before {
  content: "\e03a";
}
.eo_exclamation_filled_circled:before {
  content: "\e03b";
}
.eo_exclamation_triangle:before {
  content: "\e03c";
}
.eo_exclamation_triangle_filled:before {
  content: "\e03d";
}
.eo_exclamation_triangle_filled_circled:before {
  content: "\e03e";
}
.eo_filter:before {
  content: "\e03f";
}
.eo_filter_filled:before {
  content: "\e040";
}
.eo_gold_bar:before {
  content: "\e041";
}
.eo_gold_bar_filled:before {
  content: "\e042";
}
.eo_help:before {
  content: "\e043";
}
.eo_help_filled:before {
  content: "\e044";
}
.eo_help_filled_circled:before {
  content: "\e045";
}
.eo_letter_checked:before {
  content: "\e046";
}
.eo_letter_checked_filled:before {
  content: "\e047";
}
.eo_letter_closed:before {
  content: "\e048";
}
.eo_letter_closed_filled:before {
  content: "\e049";
}
.eo_letter_dots:before {
  content: "\e04a";
}
.eo_letter_dots_filled:before {
  content: "\e04b";
}
.eo_letter_error:before {
  content: "\e04c";
}
.eo_letter_error_filled:before {
  content: "\e04d";
}
.eo_letter_exclamation:before {
  content: "\e04e";
}
.eo_letter_exclamation_filled:before {
  content: "\e04f";
}
.eo_letter_opened:before {
  content: "\e050";
}
.eo_letter_opened_filled:before {
  content: "\e051";
}
.eo_letter_plus:before {
  content: "\e052";
}
.eo_letter_plus_filled:before {
  content: "\e053";
}
.eo_letter_send:before {
  content: "\e054";
}
.eo_letter_send_filled:before {
  content: "\e055";
}
.eo_location_world:before {
  content: "\e056";
}
.eo_location_world_filled:before {
  content: "\e057";
}
.eo_login_as_user_filled:before {
  content: "\e058";
}
.eo_map_marker_filled:before {
  content: "\e059";
}
.eo_marker_off:before {
  content: "\e05a";
}
.eo_marker_off_filled:before {
  content: "\e05b";
}
.eo_microphone_filled:before {
  content: "\e05c";
}
.eo_microphone_slashed_filled:before {
  content: "\e05d";
}
.eo_money_bag:before {
  content: "\e05e";
}
.eo_money_bag_filled:before {
  content: "\e05f";
}
.eo_motorcycle_filled:before {
  content: "\e060";
}
.eo_motorcycle_filled_circled:before {
  content: "\e061";
}
.eo_positive_account:before {
  content: "\e062";
}
.eo_positive_account_filled:before {
  content: "\e063";
}
.eo_private_cloud_storage:before {
  content: "\e064";
}
.eo_private_cloud_storage_filled:before {
  content: "\e065";
}
.eo_remove_order:before {
  content: "\e066";
}
.eo_remove_user_male:before {
  content: "\e067";
}
.eo_remove_user_male_filled:before {
  content: "\e068";
}
.eo_retorno:before {
  content: "\e069";
}
.eo_safe:before {
  content: "\e06a";
}
.eo_safe_filled:before {
  content: "\e06b";
}
.eo_sand_end:before {
  content: "\e06c";
}
.eo_sand_end_filled:before {
  content: "\e06d";
}
.eo_sand_start:before {
  content: "\e06e";
}
.eo_sand_start_filled:before {
  content: "\e06f";
}
.eo_save_as:before {
  content: "\e070";
}
.eo_save_as_filled:before {
  content: "\e071";
}
.eo_schedule:before {
  content: "\e072";
}
.eo_schedule_filled:before {
  content: "\e073";
}
.eo_servico:before {
  content: "\e074";
}
.eo_sign_up:before {
  content: "\e075";
}
.eo_sign_up_filled:before {
  content: "\e076";
}
.eo_sign_up_slashed_filled:before {
  content: "\e077";
}
.eo_speedometer:before {
  content: "\e078";
}
.eo_speedometer_filled:before {
  content: "\e079";
}
.eo_sync:before {
  content: "\e07a";
}
.eo_sync_filled:before {
  content: "\e07b";
}
.eo_time_span:before {
  content: "\e07c";
}
.eo_time_span_filled:before {
  content: "\e07d";
}
.eo_timer:before {
  content: "\e07e";
}
.eo_timer_filled:before {
  content: "\e07f";
}
.eo_timer_pause_filled:before {
  content: "\e080";
}
.eo_timer_play_filled:before {
  content: "\e081";
}
.eo_timer_play_slashed_filled:before {
  content: "\e082";
}
.eo_toggle_on:before {
  content: "\e083";
}
.eo_toggle_on_filled:before {
  content: "\e084";
}
.eo_track_order:before {
  content: "\e085";
}
.eo_track_order_filled:before {
  content: "\e086";
}
.eo_upload_circled:before {
  content: "\e087";
}
.eo_upload_cloud:before {
  content: "\e088";
}
.eo_upload_cloud_filled:before {
  content: "\e089";
}
.eo_upload_filled:before {
  content: "\e08a";
}
.eo_upload_filled_circled:before {
  content: "\e08b";
}
.eo_user_location_pin:before {
  content: "\e08c";
}
.eo_user_location_pin_filled:before {
  content: "\e08d";
}
.eo_user_male_circled:before {
  content: "\e08e";
}
.eo_user_male_filled_circled:before {
  content: "\e08f";
}
.eo_user_online:before {
  content: "\e090";
}
.eo_user_online_filled:before {
  content: "\e091";
}
.eo_waypoint_map:before {
  content: "\e092";
}
.eo_waypoint_map_filled:before {
  content: "\e093";
}
.eo_save_to_gallery:before {
  content: "\e094";
}
.eo_save_to_gallery_filled:before {
  content: "\e095";
}
